<ion-view view-title="Grade">
  <ion-content class="padding">
    <p>You can use this page to review how your representatives fall in line with your stance on topics.</p>
    <br>
    <div ng-if="userRatings.length > 0">
      <button class="button button-balanced button-block" ng-click="reloadGrade()">Reload Grade</button>
      <p><em>(Or pull to refresh)</em></p>
      <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
      </ion-refresher>
      <div class="card" ng-repeat="politician in politicians">
        <div class="item item-text-wrap">
          <h2>
            <span ng-bind-html="politician.name"></span>
            ({{politician.party}})
          </h2>
        </div>
        <div class="item item-text-wrap" >
          <span ng-class="{
            assertive: userGrades[$index].grade <= 50, 
            balanced: userGrades[$index].grade >= 90
          }">Grade: {{ userGrades[$index].grade | number:2 }}%</span>
        </div>
        <div class="item item-text-wrap">
          <p class="subdued">You agree with this representative on {{userGrades[$index].agreementCounter}} out of {{userGrades[$index].answeredQuestions}} topics.</p>
        </div>
      </div>
    </div>
    <div ng-if="userRatings.length < 1">
      <h2>You have not reviewd any legislation.</h2>
      <a class="button button-block button-positive icon-right ion-chevron-right" ui-sref="app.browse">Browse Legislation</a>
    </div>
  </ion-content>
</ion-view>
