<ion-view view-title="Legislation">
  <ion-content class="padding">
    <h1>{{legislation.title}}</h1>
    <div ng-bind-html="legislation.content"></div>
    <br><br>
    <div class="button-bar">
      <button class="button button-assertive" ng-click="next(id, 'against')">AGAINST</button>
      <button class="button button-calm" ng-click="next(id, 'for')">FOR</button>
    </div>
    <button class="button button-block button-stable" ng-click="next(id, 'undecided')">UNDECIDED</button>
  </ion-content>
</ion-view>
