<ion-view view-title="Represent Me">
  <ion-content class="padding">
    <center>
      <img src="img/logo.png" alt="Represent Me Logo" style="max-width: 100%">
    </center>
    <p>The mission of Represent Me is to place the power of government back into the hands of the people.</p>
    <p>Everyone cares about something. Unfortunately, many people have lost faith in our government and do not feel that change can happen. Therefore, they do not vote for representatives or on specific issues. This is because the legal jargon is extremely complex and almost impossible for a common person to understand.</p>
    <p>Represent Me is a completely nonpartisan platform where people are directly involved in politics. With Represent Me, you can choose the issues you are most passionate about and view how your representatives have voted on those issues. You will also be notified when a representative is soon to vote on an issue of interest so you can tell him/her which direction you want them to go.</p>
    p{With Represent Me, you can also create a bill by  answering a few questions. Our platform will convert laymen’s terms to legal vernacular and have it sent to your representative to propose to the respective committee. If there is already a similar bill in the works, it will inform you so you can take action right away. 
    <p>Another great feature of Represent Me is that if you haven’t registered to vote, you can do that here too! </p>
    <center>
      <a class="button button-light"  href="http://representmenow.co" target="_blank">RepresentMeNow.co</a>
    </center>
  </ion-content>
</ion-view>
